[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison.git
